<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.MonitorTaskMapper">
  <resultMap id="BaseResultMap" type="com.demo.model.MonitorTask">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="interval" jdbcType="INTEGER" property="interval" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>